[Unit]
Description=Update git repository of os-autoinst-scripts
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/git -C /opt/os-autoinst-scripts pull --quiet --rebase origin
User=geekotest
